*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Modal */
.modal::backdrop{
    background-color: rgba(0, 0, 0, .25);
}
.modal{
    min-width: 50%;
    min-height: 80%;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 0px;
    outline: none;
    border-radius: 5px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}
.modal h2{
    display: flex;
    justify-content: center;
    margin: 25px;
    width: auto;
    color: #4793AF;
}
.modal form{
    height: 100%;
}

.modal label{
    margin-bottom: 15px;
    padding-left: 5px;
    font-size: 1rem;
    font-weight: bold;
}

.modal .modal-title, .modal-content, .modal-actions{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    width: auto;
    height: 100%;
}
.modal .modal-title input{
    width: 100%;
    height: 25px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    outline: none;
    padding: 5px;
}
.modal .modal-title input::placeholder{
    text-align: center;
    font-size: 1rem;
}

.modal .modal-content textarea{
    width: 100%;
    min-height: 500px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    outline: none;
    padding: 5px;
    resize: none;
    outline: none;
}
.modal .modal-title textarea::placeholder{
    text-align: center;
    font-size: 1rem;
}

.modal .modal-actions{
    width: 100%;
}

.modal .modal-actions2{
    width: 80%;
}
.modal .modal-actions button{
    width: 100%;
    height: 50px;
    margin: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.modal .modal-actions a{
    width: 100%;
    height: 50px;
    margin: 10px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    align-content: center;
}

#btn-close{
    font-weight: bold;
    background-color: #FFF;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
}
#btn-action{
    font-weight: bold;
    color: #FFF;
    background-color: #4793AF;
    border-radius: 5px;
    border: 1px solid #4793AF;
}
#btn-delete{
    text-decoration: none;
    font-weight: bold;
    color: #FFF;
    background-color: #FA7070;
    border-radius: 5px;
    border: 1px solid #FA7070;
}

#btn-coloText{
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
}