*{
    font-family: Arial, Helvetica, sans-serif;
}

.modal::backdrop{
    background-color: rgba(0, 0, 0, .55);
}
.modal{
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
    border: 0px;
    outline: none;
    border-radius: 5px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.modal img[alt="imagenes"] { 
    width: 200px; 
}

.modal.red{
    background-color: #e06666;
}

.modal.green{
    background-color: #93c47d;
}

.modal.blue{
    background-color: #6d9eeb;
}

.modal.yellow{
    background-color: #ffd966;
}

.modal.purple{
    background-color: #8e7cc3;
}

.modal.black{
    color: #000000;
}

.modal.white{
    color: #ffffff;
}