/*PAGINA DE ESTILOS */

/* Colores a usar en toda la web */
:root {
    --primaro: rgb(71, 48, 171);
    --secundario: rgb(71, 147, 175);
    --terciario: rgb(33, 83, 141);
    --cuaternario: rgb(8, 47, 92);
    --miBlanco: rgb(255, 255, 255);
    --miGrisClaro: rgb(235, 235, 235);
    --miGrisOscuro: rgb(50, 50, 50);
    --miNegro: rgb(0, 0, 0);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing:  border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(194, 206, 221);
}
/* elementos Nav */
header {
    height: 80px;
    background-color: var(--miBlanco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 7%;
    /* Estatica */
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
.logo {
    cursor: pointer;
}

h1 { /*Titulo del nav-header*/
    font-size: 20px;
}

h2 {
    color: var(--secundario);
}

h3 {
    font-size: 18px;
}

h4{
    visibility: hidden; /*esta estiqueta solo sirve para guardar la simetría*/
}

h5 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 200px;
    margin-left: -150px;
    margin-top: -100px;
    background-color: var(--miBlanco);
    padding: 20px;
    border: 1px solid var(--primaro);
    text-align: center;
}

.boton-cerrar button{
    cursor: pointer;
    color: var(--miBlanco);
    background-color: var(--primaro);

    font-size: 17px;
    border: 0px;
    padding: 12px 20px;
    border-radius: 80px;
    transition: all 0.4s ease 0s;
}
.boton-cerrar button:hover{
    background-color: var(--secundario);
}

.contenido {
    color: black;
    margin: 0px auto; /*0px auto; centrar contenido */
    margin-top: 105px;
    width: 800px;
    height: 1000px;
}

.tarjeta {
    margin: 1.5rem;
    border-radius: 10px;
    padding: 1.5rem;
    background-color: var(--miBlanco);
}
.tarjeta-login{
    text-align: center;
    margin: 1.5rem;
    border-radius: 10px;
    padding: 2rem;
    background-color: var(--miBlanco);
}

/*Codigo para login*/
.campo {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 300px;
    border: 1px solid var(--secundario);
    outline: none;
}

.boton-registrar {
    width: 200px;
    color: var(--miBlanco);
    background-color: var(--secundario);
    border: none;
    padding: 15px;
    margin: 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

.form-login{
    padding: 25px 50px;
    line-height: 30px;
    font-size: 17px;
}
/*Termina codigo para login*/

.form-login a{
    color: var(--secundario);
}

.formulario{
    padding: 25px 50px;
    line-height: 30px;
    font-size: 17px;
}

.formulario a{
    color: var(--secundario);
}

.boton-modificar button{
    cursor: pointer;
    color: var(--miBlanco);
    background-color: var(--terciario);

    font-size: 17px;
    border: 0px;
    padding: 12px 20px;
    border-radius: 10px;
    transition: all 0.4s ease 0s;
}
.boton-modificar button:hover{
    background-color: var(--cuaternario);

}
.not {
  text-align: center;
  width: 100%;
  padding: 12px;
  background-color: var(--primaro);
  color: var(--miNegro) ;
}
.ocultar{
  display: none;

}