{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Login</title>
</head>
<body>
    <div id="contenedor">
        <header>
            <h4></h4> <!--el texto es invisible, solo sirve para guardar la simetría-->
        </header>
        <section class="contenido">

            <article class="tarjeta-login" action="">

                <h2>WebSlides</h2><br>
                <h3>Sign Up</h3><br>

                <form class="formulario" action="" method="post"  >

                    <label for="User">User<label>
                    <input class="campo"  name="user" required/> <!--Hacer los inputs con clase "campo"--->
                    <br>
                    <label for="Password">Password</label>
                    <input type="password" maxlength="20" class="campo"  name="contrasena" required />
                    <br>
                    <label for="correo">Email</label>
                    <input class="campo" name="correo" type="email" placeholder="mail@mail.com" required/>
                    <br>
                    <a  href=""><input type="submit" name="" value="Sign in" class="boton-registrar"></a>

                    <button class="boton-registrar" type="reset" onclick="alert('SEGURO!!! se eliminara toda la informacion')">Clean </button>
            </article>
        </section>
    </div>
</body>
</html>