{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Create</title>
</head>
<body>
<div id="contenedor">
        <section class="contenido">

            <article class="tarjeta-login" action="">

                <h2>WebSlides</h2><br>
                <h3>Create Slides</h3><br>
                <form class="formulario" action="" method="POST"  >
                    {% csrf_token %}
                    <br>
                    <label for="Titulo">Titulo<label>
                    <input type="text" maxlength="20" class="campo"  name="" required />
                    <br>
                    <label for="Autor">Autor<label>
                    <input type="text" maxlength="20" class="campo"  name="" required />
                    <br>
                    <label for="Texto">Texto<label>
                    <br>
                    <input type="text" class="mi-input"> <!-- FIXME No se redimensina la entarda de tecto para un cuadro mas grande -->
                    <br>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Ingresa los datos solicitantes">Info</a>
                    <br>
                    <input type="submit" value="Create" class="boton-registrar">
                    <br>
                </form>
            </article>
        </section>
    </div>

</body>
</html>