{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/modal.css' %}">
    <title>WebSlides</title>
</head>
<body>
    <dialog class="modal" id="modal">
        <h2 class="modal-title">Editar Presentacion</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <label for="">Titulo</label>
            <div class="modal-title">
                {{edit.title}}
            </div>
            <label for="">Contenido</label>
            <div class="modal-content">
                {{edit.content}}
            </div>
            <div class="modal-actions">
                <button id="btn-close">Cancelar</button>
                <button id="btn-action">Guardar</button>
                <!-- <button onclick="EliminarSlide('{{title}}')">Eliminar</button> -->
            </div>
        </form>
    </dialog>
<script>
    const btnSlideCloseModal = document.querySelector('#btn-close');
    const modalEdit = document.querySelector('#modal');

    const titulo = document.querySelector('#title');
    const contenido = document.querySelector('#content');
    titulo.value = `{{title}}`;
    contenido.value = `{{content}}`;

    modalEdit.showModal();

    btnSlideCloseModal.addEventListener("click", ()=>{ // Close Slide
       modalEdit.close();
    });

    modalEdit.addEventListener('close', function () {
        window.location.href = "/slides";
    });

    function EliminarSlide(filename){
        fetch(`editar/eliminar/?filename=${filename}`, {
            method: 'DELETE'
        })
        .then(response => {
            if (response.ok) {
                console.log("El archivo ha sido eliminado exitosamente.");
                // Realiza cualquier otra acción necesaria después de eliminar el archivo
            } else {
                console.error("Error al eliminar el archivo:", response.status);
            }
        })
        .catch(error => {
            console.error("Error al eliminar el archivo:", error);
        });
    }
</script>

</body>
</html>