{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/modal.css' %}">
    <link rel="stylesheet" href="{% static '/color-style.css' %}">
    <script src="{% static '/color-picker.js' %}"></script>
    <title>WebSlides</title>
</head>
<body>
    <dialog class="modal" id="modal">
        <h2 class="modal-title">Editar Presentacion</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <label for="">Titulo</label>
            <div class="modal-title">
                {{edit.title}}
            </div>

            <div class="picker-color">
                <div class="font">
                    <p>Selecciona un color de letra</p>
                    <ul>
                        <li class="color-font" id="black"></li>
                        <li class="color-font" id="white"></li>
                    </ul>
                </div> 
                <div class="color">
                    <p>Selecciona un color de fondo</p>
                    <ul>
                        <li class="color-item" id="red"></li>
                        <li class="color-item" id="green"></li>
                        <li class="color-item" id="blue"></li>
                        <li class="color-item" id="yellow"></li>
                        <li class="color-item" id="purple"></li>
                    </ul>
                </div>                
                <input type="hidden" name="font" id="selected-font" value="{{font}}">
                <input type="hidden" name="color" id="selected-color" value="{{color}}">
            </div>

            <label for="">Contenido</label>
            <div class="modal-content">
                {{edit.content}}
            </div>
            <div class="modal-actions">
                <button id="btn-close">Cancelar</button>
                <button id="btn-action">Guardar</button>
                <a href="{% url 'slides:eliminar' title %}" id="btn-delete">Eliminar</a>
            </div>
        </form>
    </dialog>
    
    <script>
        const btnSlideCloseModal = document.querySelector('#btn-close');
        const modalEdit = document.querySelector('#modal');
    
        const titulo = document.querySelector('#title');
        const contenido = document.querySelector('#content');
        titulo.value = `{{title}}`;
        contenido.value = `{{content}}`;
    
        modalEdit.showModal();
    
        btnSlideCloseModal.addEventListener("click", ()=>{ // Close Slide
           modalEdit.close();
        });
    
        modalEdit.addEventListener('close', function () {
            window.location.href = "/slides";
        });
    </script>
</body>
</html>