{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/home.css' %}">
    <link rel="stylesheet" href="{% static '/modal.css' %}">
    <link rel="stylesheet" href="{% static '/color-style.css' %}">
    <script src="{% static '/color-picker.js' %}"></script>
    <title>WebSlides</title>
</head>
<body>
    {% if messages %}
        {% for msg in messages %}
            <div class="alert {{message.tags}} " role="alert">
            <strong>{{msg}}</strong> 
        </div>
        {% endfor%} 
    {%endif%}
    <header>
        <a href="">
            <h2>WebSlides</h2>
        </a>
        <nav>
            {% if user.is_authenticated and user.is_superuser %}
            <a href="#" id="btn-create-slide">Crear presentación</a>
            <a href="#" id="btn-upload-slide">Subir presentación (txt)</a>
            {% endif %}
            <a href="{% url 'usuarios:logout' %}" class="nav-link">Logout</a>
        </nav>
    </header>

    <div class="card-container">
        {% for presentacion, autor in presentaciones_con_autores %}
        <div class="card">
            <div class="card-title">
                <a href="{% url 'slides:temporal' presentacion %}">
                    {{ presentacion }}
                </a>
            </div>
            <div class="card-button">
                {% if user.is_authenticated and autor == user.username %}
                    <button id='{{ presentacion }}' class='edit_button'>Editar</button>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Dialogo para nueva presentación -->
    <dialog class="modal" id="modal-create">
        <h2 class="modal-title">Nueva Presentación</h2>
        <form action="{% url 'slides:nueva' %}" method="POST">
            {% csrf_token %}
            <label for="title">Título</label>
            <div class="modal-title">
                <input type="text" name="title">
            </div>
            <div class="picker-color">
                <div class="font">
                    <p>Selecciona un color de letra</p>
                    <ul>
                        <li class="color-font" id="black"></li>
                        <li class="color-font" id="white"></li>
                    </ul>
                </div> 
                <div class="color">
                    <p>Selecciona un color de fondo</p>
                    <ul>
                        <li class="color-item" id="red"></li>
                        <li class="color-item" id="green"></li>
                        <li class="color-item" id="blue"></li>
                        <li class="color-item" id="yellow"></li>
                        <li class="color-item" id="purple"></li>
                    </ul>
                </div>                
                <input type="hidden" name="font" id="selected-font" value="{{font}}">
                <input type="hidden" name="color" id="selected-color" value="{{color}}">
            </div>
            <label for="content">Contenido</label>
            <div class="modal-content">
                <textarea name="content"></textarea>
            </div>
            <div class="modal-actions">
                <button id="btn-close-create" type="button">Cancelar</button>
                <button id="btn-action" type="submit">Crear</button>
            </div>
        </form>
    </dialog>

    <!-- Dialogo para subir presentación -->
    <dialog class="modal" id="modal-upload">
        <h2 class="modal-title">Subir Presentación</h2>
        <form action="{% url 'slides:subir' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="file">Archivo</label>
            <div class="modal-file">
                <input type="file" name="file">
            </div>
            <div class="modal-actions">
                <button id="btn-close-upload" type="button">Cancelar</button>
                <button id="btn-action" type="submit">Subir</button>
            </div>
        </form>
    </dialog>

    <script>
        const btnCreateSlide = document.querySelector('#btn-create-slide');
        const modalCreate = document.querySelector('#modal-create');
        const btnSlideCloseCreate = document.querySelector('#btn-close-create');

        btnCreateSlide.addEventListener("click", () => {
            modalCreate.showModal();
        });

        btnSlideCloseCreate.addEventListener("click", () => {
            modalCreate.close();
        });

        const btnUploadSlide = document.querySelector('#btn-upload-slide');
        const modalUpload = document.querySelector('#modal-upload');
        const btnSlideCloseUpload = document.querySelector('#btn-close-upload');

        btnUploadSlide.addEventListener("click", () => {
            modalUpload.showModal();
        });

        btnSlideCloseUpload.addEventListener("click", () => {
            modalUpload.close();
        });

        const btnEditOpenModal = document.querySelectorAll('.edit_button');
        btnEditOpenModal.forEach(btn => {
            btn.addEventListener("click", (event) => {
                const filename = event.target.id;
                window.location.href = "editar?filename=" + filename;
            });
        });
    </script>

</body>
</html>
