{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/home.css' %}">
    <title>WebSlides</title>
</head>
<body>
    <header>
        <a href="">
            <h2>WebSlides</h2>
        </a>
        <nav>
            {% if user.is_authenticated and admin %}
            <a href= "nueva">Create Slides</a>
            {% endif %}
            <a href= {% url "usuarios:logout" %} class="nav-link">Logout</a>
        </nav>
    </header>

    <div>
        {% for presentacion in presentaciones %}
        <div>
            <div>
                <a href="{% url 'slides:temporal' presentacion %}">
                    {{presentacion}}
                </a>
                {% if user.is_authenticated and admin %}
                <button id='{{presentacion}}' class='edit_button'>Editar</button>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

<script>

    const btnEditOpenModal = document.querySelectorAll('.edit_button');
    btnEditOpenModal.forEach(btn => {
        btn.addEventListener("click", ()=> {
            const filename = event.target.id;
            window.location.href = "editar?filename=" + filename;
        });
    });

</script>

</body>
</html>