{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>SlideShow</title>
</head>
<body>
    <div id="contenedor">
        <section class="contenido">
            <article class="tarjeta" action="">
                <h2>SlideShow</h2><br>
                <h3>Título</h3><br>
                <h6>Autor</h6><br>

                <p>Texto de la diapositiva</p>

                <!-- TODO Poner boton para siguinte diapositiva y anterior -->

            </article>
        </section>
    </div>
</body>
</html>