<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Slideshow</title>
</head>
<body>
<div id="presentacion" data-component="slideshow">
    <div role="list">
        <div class="slide active">
            <h1>Título de la Diapositiva 1</h1>
            <p>Texto de la Diapositiva 1.</p>
        </div>
        <div class="slide">
            <h1>Título de la Diapositiva 2</h1>
            <p>Texto de la Diapositiva 2.</p>
        </div>

        <!-- TODO Agrega boton para cambiar de diapositivas -->
    </div>
</div>

</body>
</html>