{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>SlideShow</title>
</head>
<body>
    <div id="contenedor">
        <section class="contenido">
            <article class="tarjeta-login" action="">
                <h2>SlideShow</h2><br>
                <h3>Titulo de la Presentacion</h3><br>
                <p>Texto de la Diapositiva 1.</p>

            </article>
        </section>
    </div>
</body>
</html>