{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/slideStyle.css' %}">
    <title>Document</title>
</head>
<body>
    <dialog class="modal" id="modal">
        {% if slides %}
            {% for slide_content in slides %}
                <div class="slide" id="slide{{ forloop.counter }}">
                {{slide_content|safe}}
                </div>    
            {% endfor %}        
        {% endif %}
    </dialog>

    <script>
        const modal = document.querySelector('#modal')
        let currentSlide = 1;
        const totalSlides = {{slides|length}}

        modal.showModal();
        HideSlides();



        function HideSlides(){
            for(var i = 2; i <= totalSlides; i++){
                document.getElementById("slide"+i).style.display = "none";
            }
        }
        function ShowNextSlide(){
            if(currentSlide < totalSlides){
                currentSlide += 1; 
                for(var i = 1; i <= totalSlides; i++){
                    document.getElementById("slide"+i).style.display = "none";
                }
                document.getElementById("slide"+currentSlide).style.display = "block";
            }
        }
        function ShowPreviousSlide(){
            if(currentSlide > 1){
                currentSlide -= 1; 
                for(var i = 1; i <= totalSlides; i++){
                    document.getElementById("slide"+i).style.display = "none";
                }
                document.getElementById("slide"+currentSlide).style.display = "block";
            }
        }

        document.addEventListener('keydown', function(event){
            if(event.keyCode === 39){ // Flecha derecha
                ShowNextSlide();
            } else if(event.keyCode === 37){ // Flecha izquierda
                ShowPreviousSlide();
            }
        });

        modal.addEventListener('close', function () {
            window.location.href = "/slides";
        });
    </script>    
</body>
</html>