<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if slides %}
        {% for slide_content in slides %}
            <div class="slide" id="slide{{ forloop.counter }}">
                {% for elemento in slide_content %}
                    <div>
                        {{elemento | safe}}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}

    <script>
        let currentSlide = 1;
        const totalSlides = {{slides|length}}
        HideSlides();        
        function HideSlides(){
            for(var i = 2; i <= totalSlides; i++){
                document.getElementById("slide"+i).style.display = "none";
            }
        }
        function ShowNextSlide(){
            if(currentSlide < totalSlides){
                currentSlide += 1; 
                for(var i = 1; i <= totalSlides; i++){
                    document.getElementById("slide"+i).style.display = "none";
                }
                document.getElementById("slide"+currentSlide).style.display = "block";
            }
        }
        function ShowPreviousSlide(){
            if(currentSlide > 1){
                currentSlide -= 1; 
                for(var i = 1; i <= totalSlides; i++){
                    document.getElementById("slide"+i).style.display = "none";
                }
                document.getElementById("slide"+currentSlide).style.display = "block";
            }
        }

        document.addEventListener('keydown', function(event){
            if(event.keyCode === 39){ // Flecha derecha
                ShowNextSlide();
            } else if(event.keyCode === 37){ // Flecha izquierda
                ShowPreviousSlide();
            }
        });
    </script>    
</body>
</html>